body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  #container2 {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  label {
    margin-right: 10px;
    display: block;
    margin-bottom: 5px;
  }
  
  input,
  select,
  button {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #placesList {
    margin-top: 20px;
  }
  
  .place {
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  
  .place h3 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  
  .place img {
    max-width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
    max-height: 400px;
  }
  
  .rating {
    color: #f39c12;
  }
  
  .stars {
    display: inline-block;
    unicode-bidi: bidi-override;
    color: #f1c40f;
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .stars > span {
    display: inline-block;
    position: relative;
    width: 1.2em;
  }
  
  .stars > span:hover:before,
  .stars > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
    color: #f39c12;
  }
  